{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Devhub</h1>
            </div>
        </div>
        <div class="row">
            {% for project in projects %}
                {% include 'components/projects/project-card.html' %}
            {% endfor %}
        </div>
    </div>

    {% if modal %}
        {% include 'components/projects/delete-modal.html' %}
    {% endif %}
{% endblock %}