{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">{{ username }}</h1>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
                {% if not user.user_bio %}
                    {% if user.account_name == session['user'] %}
                    <div class="col-12">
                        <p>
                            It looks like you don't have a profile yet, you can create one <a href="{{ url_for('edit_profile', user=session['user']) }}" class="highlight user-bio-link">here</a>.
                        </p>
                    </div>
                    {% else %}
                    <div class="col-12">
                        <p>It looks like {{ user.account_name }} doesn't have a bio yet!</p>
                    </div>
                    {% endif %}
                {% else %}
                <div class="col-md-3">
                    <div class="profile-picture">
                        <img src="{{ user.user_image }}" alt="{{ user.account_name }}'s profile picture" class="h-100 w-100">
                    </div>
                </div>
                <div class="col-9 position-relative">
                    <div class="user-info">
                        <h3>{{ user.name }}</h3>
                        <p class="user-bio">{{ user.user_bio | truncate(900) }}</p>
                        {% if user.account_name == session['user'] %}
                        <div class="profile-buttons">
                            <a href="{{ url_for('edit_profile', user=session['user']) }}" class="profile-button edit">Edit</a>
                            <a href="{{ url_for('delete_profile', user=session['user']) }}" class="profile-button delete">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3">{{ username }}'s projects</h2>
            </div>
        </div>
        <div class="row">
            {% for project in projects %}
                    {% include 'components/projects/project-card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}