<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/head.html' %}
</head>
<body>
    
    <header></header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flashes">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>


    <main class="wrapper">

        {% include 'layout/sidebar.html' %}

        <!-- page content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <section>
                        {% block content %}
                        {% endblock %}
                    </section>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    {% include 'layout/scripts.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>