<div class="col-xl-6 px-3 project-card-container">
    <div class="project-card">
        <div class="container h-100">
            <div class="row d-flex flex-column flex-lg-row h-100">
                {% if project.project_image %}
                <div class="col-lg-4 px-0 h-100">
                    <div class="project-card-image">
                        <picture>
                            <source media="(min-width:1200px)" srcset="{{ project.project_image }}">
                            <source media="(min-width:992px)" srcset="{{ project.project_image }}">
                            <source media="(min-width:768px)" srcset="{{ project.project_image }}">
                            <source media="(min-width:576px)" srcset="{{ project.project_image }}">
                            <img src="{{ project.project_image }}" class="w-100 h-100">
                        </picture>
                        {% if project.created_by == session['user'] or session['user'] == 'samforrest' %}
                            <div class="project-buttons">
                                <a href="{{ url_for('edit_project', project_id=project._id) }}" class="project-button edit-button mb-2">Edit</a>
                                <a href="{{ url_for('warning', project_id=project._id) }}" class="project-button delete-button mb-2 mb-lg-0 ms-2 ms-lg-0">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="col-{{'lg-8' if project.project_image else '12'}} d-flex flex-column justify-content-start align-items-between">
                    <div class="project-card-info-wrap">
                        <div class="project-card-info-top d-flex flex-column flex-lg-row justify-content-between">
                            <div class="project-title-wrap">
                                <h2 class="project-title"><a href="{{ url_for('go_to_project',  project=project.project_name) }}" aria-label="Go to {{ project.project_name }} page">{{ project.project_name|truncate(15) }} <i class="fa-solid fa-arrow-right"></i></a></h2>
                                <span class="project-subtitle mb-3 mb-lg-0">by <a href="{{ url_for('go_to_profile', username=project.created_by, user=project.created_by) }}">{{ project.created_by }}</a> {% if project.created_by == session['user'] %} <i class="fa-solid fa-star" data-bs-placement="right" data-bs-toggle="tooltip" title="You own this project"></i> {% endif %} {{ project.date_posted }} </span>
                            </div>
                            <div class="project-card-links d-flex justify-content-lg-end">
                                <a href="{{ project.live_link }}" target="_blank" rel="noopener" aria-label="Go to {{ project.live_link }}"><i class="fa-solid fa-square-arrow-up-right"></i></a>
                                <a href="{{ project.repo_link }}" target="_blank" rel="noopener" class="ms-3" aria-label="Go to {{ project.repo_link }}"><i class="fa-brands fa-github-square"></i></a>
                            </div>
                        </div>
                        <p>{{ project.project_description | truncate(250) }}</p>
                        <div class="project-tags">
                            {% if project.project_tags | length > 3 %}
                                {% for i in range(3) %}
                                    <span class="project-tag">{{ project.project_tags[i] }}</span>
                                {% endfor %}
                            {% else %}
                                {% for tag in project.project_tags %}
                                    <span class="project-tag">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>