<form action="{{ url_for('add_project') if add_project else url_for('edit_project', project_id=project._id) }}" method="POST" class="form needs-validation" enctype="multipart/form-data" novalidate>
    <div class="container">
        <div class="row">
            <div class="col-9 mb-2">
                <label for="projectname">Project name</label>
                <input type="text" name="projectname" id="projectname" class="form-control" value="{{ project.project_name if edit_project else '' }}" required>
                <div class="invalid-feedback">
                    Project name cannot be left blank
                </div>
            </div>
            <div class="col-3 mb-2">
                <label for="projectimage" class="d-flex flex-column">
                    Image
                    <input type="file" name="projectimage" id="projectimage" class="form-control-file" required>
                    <span class="button mt-2">+</span>
                    <div class="invalid-feedback">
                        Please upload a project image
                    </div>
                </label>
                <label for="filename" class="filename">{{ project.project_image_name if edit_project else '' }}</label>
                <input type="text" name="filename" id="filename" value="{{ project.project_image_name if edit_project else '' }}">
            </div>
            <div class="col-12 mb-4">
                <label for="projectdescription">Project description</label>
                <textarea name="projectdescription" id="projectdescription" cols="30" rows="10" class="form-control" required>
                    {%- if edit_project -%}
                        {{- project.project_description -}}
                    {%- endif -%}
                </textarea>
                <div class="invalid-feedback">
                    Project description cannot be left blank
                </div>
            </div>
            <div class="col-12 mb-4">
                <label for="livelink">Live link</label>
                <input type="text" name="livelink" id="livelink" class="form-control" value="{{ project.live_link if edit_project else '' }}" required>
                <div class="invalid-feedback">
                    Live link cannot be left blank
                </div>
            </div>
            <div class="col-12 mb-4">
                <label for="repolink">Repo link</label>
                <input type="text" name="repolink" id="repolink" class="form-control" value="{{ project.repo_link if edit_project else '' }}" required>
                <div class="invalid-feedback">
                    Repo link cannot be left blank
                </div>
            </div>
            <div class="col-12 mb-4">
                <fieldset>
                    <legend class="mb-3">Project tags - choose up to 3:</legend>
                    <div class="d-flex" id="checkboxes">
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'HTML' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'HTML' in project.project_tags -}} {% endif %}" id="html" value="HTML">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="html">HTML</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'CSS' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'CSS' in project.project_tags -}} {% endif %}" id="css" value="CSS">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="css">CSS</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'SASS/SCSS' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'SASS/SCSS' in project.project_tags -}} {% endif %}" id="sass" value="SASS/SCSS">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="sass">SASS/SCSS</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'JavaScript' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'JavaScript' in project.project_tags -}} {% endif %}" id="javascript" value="JavaScript">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="javascript">Javascript</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'Python' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'Python' in project.project_tags -}} {% endif %}" id="python" value="Python">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="python">Python</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'React' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'React' in project.project_tags -}} {% endif %}" id="react" value="React">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="react">React</label>
                        </div>
                        <div class="d-flex me-3">
                            <div class="checkbox-container {% if edit_project %} {{- 'checked' if 'Other' in project.project_tags -}} {% endif %}">
                                <input type="checkbox" class="projecttags" name="{% if edit_project %} {{- 'checked' if 'Other' in project.project_tags -}} {% endif %}" id="other" value="Other">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <label for="other">Other</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <input type="submit" value="{{ 'Add' if add_project else 'Save' }} project">
            </div>
        </div>
    </div>
</form>