/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+Pro&display=swap');

/* variables */
:root {
    --brand-colour: #3CB35A;
    --dark-colour: #1E293B;
    --mid-colour: #635E79;
    --light-colour: #FFFFFF;
}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

body[class*='__active'] {
    overflow: hidden;
}

ol, ul {
	list-style: none;
}

/* general styles */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
}

.highlight {
    color: var(--brand-colour);
    font-weight: 700;
}

/* title font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/* flash messages */
.flashes {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 10;
    background: var(--brand-colour);
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
    color: var(--light-colour);
    transition: all .3s;
}

.animateout {
    transition: all 1s;
    opacity: 0;
}

/* page titles */
.page-title {
    margin: 1.5rem 0 5rem 0;
    position: relative;
    display: inline-block;
}

.page-title::before {
    content: '';
    display: inline-block;
    height: 3rem;
    width: 95%;
    background: var(--brand-colour);
    position: absolute;
    bottom: 2px;
    left: 1.8rem;
    z-index: -1;
    opacity: 0.75;
}

/* nav */
#sidebar {
    background: var(--dark-colour);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: all .3s;
}

#sidebar[class="__active"] {
    transform: translateX(0);
}

#sidebar ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#sidebar ul li {
    text-align: center;
    border-bottom: 2px solid var(--mid-colour);
}

#sidebar ul .profile-link {
    margin-top: auto;
    border-bottom: none;
    border-top: 2px solid var(--mid-colour);
    margin-bottom: 0;
}

#sidebar ul a {
    color: var(--light-colour);
    font-size: 2.5rem;
    padding: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

#sidebar ul .active {
    background: var(--brand-colour);
}

#sidebar .main-logo {
    text-transform: uppercase;
    font-weight: bold;
}

#sidebar .main-logo span {
    display: block;
    position: relative;
    text-align: left;
}

#sidebar ul i {
    font-size: 2.5rem;
}

.burger-button {
    position: fixed;
    z-index: 3;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--brand-colour);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
}

.bar {
    height: .6rem;
    width: 50%;
    display: inline-block;
    background: var(--light-colour);
    border-radius: 8px;
    position: relative;
}

.bar::before, .bar::after {
    content: '';
    display: inline-block;
    height: .6rem;
    width: 100%;
    background: var(--light-colour);
    border-radius: 8px;
    position: absolute;
    transition: all .3s;
}

.bar::before {
    transform: translateY(-10px);
}

.bar::after {
    transform: translateY(10px);
}

.burger-button[class*='__active'] .bar {
    background: var(--brand-colour);
}

.burger-button[class*='__active'] .bar::before {
    transform: rotate(45deg);
}

.burger-button[class*='__active'] .bar::after {
    transform: rotate(-45deg);
}

.tooltip {
    margin-left: .4rem !important;
    font-size: 1.6rem;
}

.tooltip > .tooltip-inner {
    background: var(--brand-colour);
}

.tooltip .tooltip-arrow::before {
    border-right-color: var(--brand-colour) !important;
}

/* project cards */

.project-card {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    border-radius: 8px;
    position: relative;
    margin-bottom: 4rem;
    min-height: 15rem;
    width: 100%;
}

.project-card:hover .project-card-image img, .project-card:focus .project-card-image img {
    transform: scale(1.05);
}

.project-card:hover .project-card-image::before, .project-card:focus .project-card-image::before {
    opacity: 0.3;
}

.project-card-image {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
    max-height: 25rem;
}

.project-card-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-colour);
    opacity: 0;
    z-index: 2;
    transition: all .3s;
}

.project-card-image img {
    transition: all .3s;
}

.project-buttons {
    position: absolute;
    z-index: 3;
    left: 5px;
    bottom: 5px;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-buttons .project-button {
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    text-align: center;
    display: block;
    color: var(--light-colour);
    background: var(--dark-colour);
    text-decoration: none;
    transition: all .3s;
}

.project-buttons .edit-button:hover, .project-buttons .edit-button:focus {
    background: var(--brand-colour);
}

.project-buttons .delete-button:hover, .project-buttons .delete-button:focus {
    background: red;
}

.project-card-info-wrap {
    padding: 2rem 1rem 3rem 1rem;
}

.project-card-info-top {
    margin-bottom: 0.8rem; 
}

.project-card-info-top a {
    color: var(--dark-colour);
    text-decoration: none;
    display: inline-block;
}

.project-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.project-title a {
    transition: all .3s;
}

.project-title a i {
    opacity: 0;
    transform: translateX(-5px);
    transition: all .3s;
    display: inline-block;
    font-size: 1.8rem;
    color: var(--brand-colour);
}

.project-title a:hover {
    color: var(--brand-colour);
}

.project-title a:hover i {
    opacity: 1;
    transform: translateX(0px);
}

.project-subtitle {
    font-style: italic;
    font-weight: 600;
    display: inline-block;
}

.project-subtitle a {
    transition: all .3s;
}

.project-subtitle a:hover, .project-subtitle:focus {
    color: var(--brand-colour);
}

.project-card-links a {
    font-size: 2.5rem;
    transition: all .3s;
}

.project-card-links a:hover, .project-card-links a:focus {
    color: var(--brand-colour);
}

.project-tags {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(50%);
}

.project-tag {
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    background: var(--brand-colour);
    color: var(--light-colour);
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container::before {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: var(--dark-colour);
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
}

.modal-test {
    background: var(--light-colour);
    padding: 4rem;
    border-radius: 0.8rem;
    text-align: center;
}

.modal-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--brand-colour);
}

.modal-description {
    margin-bottom: 1.5rem;
}

.modal-button {
    display: inline-block;
    margin-right: 5px;
    padding: 1rem 2rem;
    color: var(--light-colour);
    background: var(--dark-colour);
    border: none;
    border-radius: 4px;
    font-size: 1.8rem;
    transition: all .3s;
    text-decoration: none;
}

.modal-button:hover, .modal-button:focus {
    background: var(--brand-colour);
    color: var(--light-colour);
}

.delete-button:hover, .delete-button:focus {
    background: red;
    color: var(--light-colour);
}

/* project pages */

.project-image img {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
}

.project-creator {
    color: var(--brand-colour);
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.project-creator::before {
    content: '';
    width: 0;
    height: 2px;
    background: var(--brand-colour);
    display: inline-block;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}

.project-creator:hover, .project-creator:focus {
    color: var(--brand-colour);
}

.project-creator:hover::before, .project-creator:focus::before {
    width: 100%;
}

.project-links a {
    font-size: 2.5rem;
    transition: all .3s;
    color: var(--dark-colour);
}

.project-links a:hover, .project-card-links a:focus {
    color: var(--brand-colour);
}

/* profile pages */
.user-bio-link {
    text-decoration: none;
    position: relative;
}

.user-bio-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--brand-colour);
    transition: all .3s;
}

.user-bio-link:hover, .user-bio-link:focus {
    color: var(--brand-colour);
}

.user-bio-link:hover::before, .user-bio-link:focus::before {
    width: 100%;
}

.profile-picture {
    height: 285px;
}

.profile-picture img {
    border-radius: 50%;
}

.user-info {
    padding: 1rem 0 5rem 5rem;
}

.user-info h3 {
    font-size: 2.5rem;
}

.user-bio {
    line-height: 1.3;
}

.profile-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.profile-button {
    display: inline-block;
    margin-right: 5px;
    padding: 1rem 1.5rem;
    color: var(--light-colour);
    background: var(--dark-colour);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    transition: all .3s;
    text-decoration: none;
}

.profile-buttons .edit:hover, .profile-buttons .edit:focus {
    background: var(--brand-colour);
    color: var(--light-colour);
}

.profile-buttons .delete:hover, .profile-buttons .delete:focus {
    background: red;
    color: var(--light-colour);
}

/* forms */
.form {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    padding: 5rem 3rem;
    border-radius: 0.8rem;
    margin-bottom: 7.5rem;
}

.form .__active::after {
    content: '';
    display: inline-block;
    width: 110%;
    height: 4px;
    background: var(--brand-colour);
    transform: translateX(-5%);
}

.form label, .form legend {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.form input[type=text], .form input[type=password], .form input[type=email] {
    border-radius: 4px;
    border: 1px solid var(--mid-colour);
    padding: 0.8rem;
    font-size: 1.6rem;
}

.form input[type=file] {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.form #filename {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.filename {
    word-break: break-all;
}

.form #checkboxes {
    flex-wrap: wrap;
}

.form .checkbox-container {
    margin-right: 5px;
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid var(--brand-colour);
}

.form .checked {
    background-color: var(--brand-colour);
}

.form .checkbox-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-colour);
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0;
}

.form .checked i {
    opacity: 1;
}

.form input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.form input[type=checkbox]:hover {
    cursor: pointer;
}

.form input[type=submit], .form .button {
    padding: 1rem 2rem;
    color: var(--light-colour);
    background: var(--dark-colour);
    border: none;
    border-radius: 4px;
    font-size: 1.8rem;
    transition: all .3s;
}

.form .button {
    font-size: 2.4rem;
    padding: 0.8rem 2rem;
    text-align: center;
}

.form input[type=submit]:hover, input[type=submit]:focus, .form .button:hover, .form .button:focus {
    background: var(--brand-colour);
    cursor: pointer;
}

.form-tab {
    font-size: 2.7rem;
    color: var(--dark-colour);
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;
    text-transform: uppercase;
    margin: 2rem 0;
    display: inline-block;
    line-height: 0.5;
}

.form-tab:hover, .form-tab:focus {
    color: var(--brand-colour);
}

/* contact form */
.contact-form-title {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.form textarea {
    resize: none;
    height: 15rem;
    width: 100%;
    border: 1px solid var(--mid-colour);
    font-size: 1.6rem;
}

/* media queries */

@media screen and (min-width: 992px) {
    #sidebar {
        background: var(--dark-colour);
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform: translateX(0);
    }

    .burger-button {
        display: none;
    }

    .project-card {
        margin-bottom: 4rem;
    }

    .project-card:hover .project-buttons, .project-card:focus .project-buttons {
        transform: translateY(0);
    }

    .project-card-container {
        display: flex;
        align-items: stretch;
    }

    .project-card-image {
        max-height: none;
        border-radius: 0.8rem 0 0 0.8rem;
    }

    .project-buttons {
        flex-direction: column;
        transform: translateY(200%);
    }

    .project-buttons .project-button {
        width: 100%;
    }
}